{% extends 'AppBundle:Power:power.html.twig' %}

{% block title %}
    Italy
{% endblock %}

{% block startingConditionsBody %}
    <ul>
        At war with
        <ul>
            <li>France</li>
            <li>United Kingdom</li>
            <li>ANZAC</li>
        </ul>
        <li>
            May declare war on the United States, the Soviet Union, or China at the beginning of the Combat Move phase of any of its turns
        </li>
        <li>
            A state of war between Italy and one of these three powers will not affect its relations with the other two
        </li>
        <li>Starting Income: 10 IPCs</li>
    </ul>
{% endblock %}

{% block nationalObjectivesHeader %}
    National Objectives <small>"Mare Nostrum"</small>
{% endblock %}

{% block nationalObjectivesBody %}
   {% import 'AppBundle:Macro:national_objectives.html.twig' as nationalObjectives %}
    {{ nationalObjectives.create(
        [
            {
                reward: '5 IPCs',
                condition: 'Italy Is at War and there are no Allied surface warships in the Mediterranean sea (sea zones 92-99)',
                theme: '"Propaganda and strategic advantage"'
            },
            {
                reward: '5 IPCs',
                condition: 'Axis powers control at least 3 of the following territories: Gibraltar, Southern France, Greece, and Egypt',
                theme: '"Stated national objectives—Greater Roman Empire"'
            },
            {
                reward: '5 IPCs',
                condition: ' Axis powers control all of the following territories: Morocco, Algeria, Tunisia, Libya, Tobruk, and Alexandria',
                theme: '"Stated North African military objectives"'
            },
            {
                reward: '2 IPCs (per territory)',
                condition: 'Italy controls Iraq, Persia, and/or Northwest Persia',
                theme: '"Access to strategic oil reserves"'
            }
        ]
    ) }}
{% endblock %}
