{% block title %}
   Territories
{% endblock %}

{% block body %}
    <p>
        <ul>
            <li>
                Border color shows which power controls them at the start of the game
            </li>
            <li>Can have income value</li>
            <li>Units can move between adjacent territories</li>
            <li>Can be either
                <ul>
                    <li>friendly (controlled by you or a friendly power)</li>
                    <li>hostile (controlled by a power with which you are at war)</li>
                    <li>neutral (not controlled by any power or controlled by a power with which you are not yet at war)</li>
                </ul>
            </li>
        </ul>
    </p>
{% endblock %}