{% block title %}
    1. Research & Development
{% endblock %}

{% block body %}
    <div class="alert alert-info">
        This is an optional rule
    </div>
    <div class="alert alert-danger">
        China may not do Research & Development
    </div>

    <h5>
        Research and Development Sequence
    </h5>
    <ol>
        <li>Buy as many Research Dice as you want for 5 IPCs each</li>
        <li>Roll each of your purchased research dice, when you role at least one 6 you made a technological breakthrough</li>
        <li>If your research was successful, choose one of the two breakthrough charts and roll a dice to see which technological advance you get</li>
        <li>If your research was successful, place one of your national control markers inside the appropriate advancement box on the Research and Development chart.</li>
        <li>Every development can only be researched once. Roll again, when it has already been researched.</li>
    </ol>

    <div class="alert alert-info">
        If your research was successful, your development becomes effective immediately.
    </div>
    {% import 'AppBundle:Macro:button_collapse.html.twig' as buttonCollapse %}
    {{ buttonCollapse.create( 'research-and-development-breakthrough-chart-1', 'Breakthrough Chart 1', block('breakthrough_chart_1')) }}
    {{ buttonCollapse.create( 'research-and-development-breakthrough-chart-2', 'Breakthrough Chart 2', block('breakthrough_chart_2')) }}
{% endblock %}

{% block breakthrough_chart_1 %}
    <ol>
        <li>
            <strong>Advanced Artillery: </strong>Each of your artillery units can now provide greater support. One artillery unit can support up to 2 infantry and/or mechanized infantry units per attack. Up to 2 infantry and/or mechanized infantry units when coupled with 1 artillery unit have attack values of 2.
        </li>
        <li>
            <strong>Rockets: </strong>Your air bases can now launch rockets. During the Strategic and Tactical Bombing Raids step of your Conduct Combat phase each turn, each of your operative air bases can make a single rocket attack against an enemy industrial complex, air base, or naval base within 4 spaces of it. This attack does one die roll of damage to that facility. Rockets may not be fired over neutral territories.
        </li>
        <li>
            <strong>Paratroopers: </strong>Up to 2 of your infantry units in each territory with an air base can be moved to an enemycontrolled territory 3 or fewer spaces away that is being attacked by your land units from adjacent territories and/or by amphibious assault. When moving, paratroopers must obey the same restrictions that air units do. If the territory being attacked has AAA (antiaircraft artillery) units, the paratrooper infantry units are subject to antiaircraft fire in the same way as air units. If attacking along with land units from adjacent territories, paratroopers may retreat as normal.
        </li>
        <li>
            <strong>Increased Factory Production: </strong>Each of your industrial complexes can now produce additional units beyond their normal production ability. Major industrial complexes can mobilize up to 12 units, and minor ones can mobilize up to 4 units. Also, when repairing a damaged industrial complex, you can remove 2 damage markers for the cost of 1 IPC (in other words, half price). The maximum damage that can be applied to your industrial complexes is not increased.
        </li>
        <li>
            <strong>War Bonds: </strong>During your Collect Income phase, roll a die and collect that many additional IPCs.
        </li>
        <li>
            <strong>Improved Mechanized Infantry: </strong>Each of your mechanized infantry units that is paired up with a tank or an artillery now has an attack value of  2. Also, your mechanized infantry may now blitz without being paired with a tank
        </li>
    </ol>
{% endblock %}

{% block breakthrough_chart_2 %}
    <ol>
        <li>
            <strong>Super Submarines: </strong> The attack value of your submarines is now 3 instead of 2.
        </li>
        <li>
            <strong>Jet Fighters: </strong> The attack value of your fighters is now 4 instead of 3. In addition, during bombing raids your escorting or intercepting fighters now hit on a “1” or “2” instead of just a “1”.
        </li>
        <li>
            <strong>Improved Shipyards: </strong>Your sea units are now cheaper to build. Use these revised costs:<br>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Unit</th>
                        <th>IPC Cost</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Battleship</td>
                        <td>17</td>
                    </tr>
                    <tr>
                        <td>Aircraft Carrier</td>
                        <td>13</td>
                    </tr>
                    <tr>
                        <td>Cruiser</td>
                        <td>9</td>
                    </tr>
                    <tr>
                        <td>Destroyer</td>
                        <td>7</td>
                    </tr>
                    <tr>
                        <td>Transport</td>
                        <td>6</td>
                    </tr>
                    <tr>
                        <td>Submarine</td>
                        <td>5</td>
                    </tr>
                </tbody>
            </table>
        </li>
        <li>
            <strong>Radar: </strong>Your antiaircraft fire, both from AAA (antiaircraft artillery) units and facilities, now hits on a “1” or “2” instead of just a “1”.
        </li>
        <li>
            <strong>Long-Range Aircraft: </strong>All of your air units’ ranges are increased by 1 space.
        </li>
        <li>
            <strong>Heavy Bombers: </strong>Your strategic bombers are now heavy bombers. When attacking, whether in a battle or a strategic bombing raid, roll two dice for each bomber and select the best result.

        </li>
    </ol>
{% endblock %}
