{% block title %}
    Forums
{% endblock %}

{% block body %}
    <div class="list-group">
        <a class="list-group-item" href="http://www.axisandallies.org" target="_blank">
            www.axisandallies.org
        </a>
        <a class="list-group-item" href="http://daak.de/" target="_blank">
            Deutscher Axis & Allies Klub
        </a>
    </div>
{% endblock %}


