{% block title %}
    Triple A
{% endblock %}

{% block body %}
    <div class="list-group">
        <a class="list-group-item" href="http://triplea.sourceforge.net" target="_blank">
            Triple A
        </a>
        <a class="list-group-item" href="http://www.tripleawarclub.org/" target="_blank">
            Triple A War Club
        </a>
    </div>
{% endblock %}


