{% block title %}
    7. Collect Income
{% endblock %}

{% block body %}
    <div class="alert alert-info">
        You gain:<br>
        IPC Income from controlled territories + Bonus Income from National Objectives - losses from Convoy Disruptions
    </div>
    <h5>Convoy Disruptions</h5>
    <ul>
        <li>Condition: a Sea Zone adjacent to a territory you control has a "Convoy" Symbol and contains an enemy Warship (except Carrier) or Carrier-based Air Units</li>
        <li>
            The owner of the enemy units rolls
            <ul>
                <li>one dice for each Battleship, Cruiser and Destroyer</li>
                <li>two dice for each Submarine and Air Unit</li>
            </ul>
        </li>
        <li>All throws that shows 3 or less are summed up. This is the amount of damage to your income</li>
        <li>You can't lose more income then the IPC of the territory that suffers the Convoy Disruptions</li>
    </ul>

{% endblock %}