{% block title %}
    2b. Purchase New Units
{% endblock %}

{% block body %}
    <div class="alert alert-info">You can buy build units only in Minor or Major Industrial Complexes. Naval and Air Bases have no production capabilty.</div>
    <ul>
        <li>
            You may buy as many units of any type as you can afford
        </li>
        <li>
            You don’t have to spend all of your IPCs
        </li>
        <li>
            Place the purchased units in the mobilization zone (on the game board)
        </li>
    </ul>
	<div class="alert alert-danger">You can’t use newly purchased units right away, but you will deploy them later in the turn.</div>
{% endblock %}