{% block title %}
    2a. Repair Damaged Units
{% endblock %}

{% block body %}
	<div class="alert alert-info">You can repair facilities and Capital Ships in this turn</div>
    <h5>Facilities</h5>
    <ul>
        <li>You can pay IPCs to remove damage from facilities (Industrial Complexes, Air Bases, Naval Bases)</li>
        <li>Each point of damage costs 1 IPC to remove</li>
        <li>Repairs take effect immediately, and the controlling player can use repaired facilities during the rest of this turn</li>
    </ul>
    <h5>Capital Ships</h5>
    <ul>
        <li>You can repair Carriers and Battleships in sea zones serviced by operative friendly naval bases (including those repaired in this turn)</li>
        <li>There is no IPC cost to repair these ships</li>
    </ul>
{% endblock %}