{% block title %}
    Order of Play
{% endblock %}

{% block body %}
    <ol>
        <li>Germany</li>
        <li>Soviet Union</li>
        <li>Japan</li>
        <li>United States</li>
        <li>China</li>
        <li>United Kingdom</li>
        <li>Italy</li>
        <li>ANZAC</li>
        <li>France</li>
    </ol>
{% endblock %}


