{% block title %}
   Starting Income
{% endblock %}

{% block body %}
    <table class="table table-bordered">
        <tr>
            <td>Germany</td>
            <td>30 IPCs</td>
        </tr>
        <tr>
            <td>Soviet Union</td>
            <td>37 IPCs</td>
        </tr>
        <tr>
            <td>Japan</td>
            <td>26 IPCs</td>
        </tr>
        <tr>
            <td>United States</td>
            <td>52 IPCs</td>
        </tr>
        <tr>
            <td>China</td>
            <td>12 IPCs</td>
        </tr>
        <tr>
            <td>United Kingdom - Europe</td>
            <td>28 IPCs</td>
        </tr>
        <tr>
            <td>United Kingdom - Pacific</td>
            <td>17 IPCs</td>
        </tr>
        <tr>
            <td>Italy</td>
            <td>10 IPCs</td>
        </tr>
        <tr>
            <td>ANZAC</td>
            <td>10 IPCs</td>
        </tr>
        <tr>
            <td>France</td>
            <td>19 IPCs</td>
        </tr>
    </table>
{% endblock %}
