{% block title %}
   Turn Sequence
{% endblock %}

{% block body %}
    <ol>
        <li>Research & Development</li>
        <li>Repair Damaged Units and Purchase New Units</li>
        <li>Combat Movement</li>
        <li>Resolve Combat</li>
        <li>Non-Combat Movement</li>
        <li>Deploy New Units</li>
        <li>Collect Income</li>
    </ol>
{% endblock %}
