{% block title %}
    Facilities
{% endblock %}

{% block body %}
    <div class="alert alert-info">
        <h5>Built-In Air Defense</h5>
        <ul>
            <li>Before bombers can attack a targeted facility,
                they will be fired on by the built-in air defenses of the
                facility</li>
            <li>The facility’s controlling player rolls a die for
                each attacking bomber</li>
            <li>For each “1” rolled, the attacker must remove 1 air unit</li>
        </ul>
    </div>
    {% import 'AppBundle:Macro:button_collapse.html.twig' as buttonCollapse %}
    {{ buttonCollapse.create('unit_facilities_major_industrial_complex', 'Major Industrial Complex', block('major_industrial_complex')) }}
    {{ buttonCollapse.create('unit_facilities_minor_industrial_complex', 'Minor Industrial Complex', block('minor_industrial_complex')) }}
    {{ buttonCollapse.create('unit_facilities_air_base', 'Air Base', block('air_base')) }}
    {{ buttonCollapse.create('unit_facilities_naval_base', 'Naval Base', block('naval_base')) }}
{% endblock %}

{% block major_industrial_complex %}
    <table class="table table-bordered">
        <tr>
            <td><strong>Cost</strong></td>
            <td>30</td>
        </tr>
        <tr>
            <td>
                <strong>Attack</strong>
            </td>
            <td>-</td>
        </tr>
        <tr>
            <td>
                <strong>Defense</strong>
            </td>
            <td>Self-defense antiaircraft ability</td>
        </tr>
        <tr>
            <td>
                <strong>Move</strong>
            </td>
            <td>-</td>
        </tr>
    </table>
    <h5>Unit Characteristics</h5>
    <ul>
        <li>Point of entry for all purchased air, land and sea units</li>
        <li>Can produce up to 10 units (-1 per damage taken)</li>
        <li>Can be damaged up to 20 Damage Points. For each damage point it can produce one unit less</li>
        <li>Can only be placed on original controlled territories with an IPC value of 3 or higher</li>
        <li>Can not be placed on an Island</li>
    </ul>
{% endblock %}

{% block minor_industrial_complex %}
    <table class="table table-bordered">
        <tr>
            <td><strong>Cost</strong></td>
            <td>12</td>
        </tr>
        <tr>
            <td>
                <strong>Attack</strong>
            </td>
            <td>-</td>
        </tr>
        <tr>
            <td>
                <strong>Defense</strong>
            </td>
            <td>Self-defense antiaircraft ability</td>
        </tr>
        <tr>
            <td>
                <strong>Move</strong>
            </td>
            <td>-</td>
        </tr>
    </table>
    <h5>Unit Characteristics</h5>
    <ul>
        <li>Point of entry for all purchased air, land and sea units</li>
        <li>Can produce up to 3 units (-1 per damage taken)</li>
        <li>Can be damaged up to 6 Damage Points. For each damage point it can produce one unit less.</li>
        <li>Can be upgraded to a major one at a cost of 20 IPCs (only on original controlled territories with an IPC value of 3 or higher)</li>
        <li>Can only be placed on controlled territories with an IPC value of 2 or higher</li>
        <li>Can not be placed on an Island</li>
    </ul>
{% endblock %}

{% block air_base %}
    <table class="table table-bordered">
        <tr>
            <td><strong>Cost</strong></td>
            <td>15</td>
        </tr>
        <tr>
            <td>
                <strong>Attack</strong>
            </td>
            <td>-</td>
        </tr>
        <tr>
            <td>
                <strong>Defense</strong>
            </td>
            <td>Self-defense antiaircraft ability</td>
        </tr>
        <tr>
            <td>
                <strong>Move</strong>
            </td>
            <td>-</td>
        </tr>
    </table>
    <h5>Unit Characteristics</h5>
    <ul>
        <li><strong>Increased Air Unit Range: </strong>+1 for friendly Air Units that take off</li>
        <li><strong>Scramble: </strong>Allows Air Units to participate in the defense of adjacent sea zones</li>
        <li>Considered inoperative upon 3 or more damage (max: 6)</li>
        <li>Can be placed in any controlled territory</li>
    </ul>
{% endblock %}

{% block naval_base %}
    <table class="table table-bordered">
        <tr>
            <td><strong>Cost</strong></td>
            <td>15</td>
        </tr>
        <tr>
            <td>
                <strong>Attack</strong>
            </td>
            <td>-</td>
        </tr>
        <tr>
            <td>
                <strong>Defense</strong>
            </td>
            <td>Self-defense antiaircraft ability</td>
        </tr>
        <tr>
            <td>
                <strong>Move</strong>
            </td>
            <td>-</td>
        </tr>
    </table>
    <h5>Unit Characteristics</h5>
    <ul>
        <li><strong>Services Sea Zones: </strong>All Sea Zones adjacent to the territory containing the Naval Base gain its advantages</li>
        <li><strong>Increased Sea Unit Range: </strong>+1 for friendly Sea Units that begin their movement in a serviced Sea Zone</li>
        <li><strong>Repairs: </strong>Friendly Capital Ships are repaired at no cost in the "Repair Units"-Phase</li>
        <li>Considered inoperative upon 3 or more damage (max: 6)</li>
        <li>Can be placed in any controlled territory with a coast</li>
    </ul>
{% endblock %}
