@import '../bower_components/bootstrap/less/bootstrap.less';

@import 'variables.less';

@import 'utility.less';

body {
  background: @navbar-inverse-bg url('../images/world_war_ii_1920x1200.jpg') no-repeat no-repeat;
}

h5 {
  font-weight: bold;
}

.rule-panel {
  &.rule-panel-transparent {
    .panel-primary {
      background: none;
    }
    .panel-body {
      background:rgba(211, 219, 215, 0.85);
    }
  }
  .panel-primary > a {
    color: #fff;
    &:hover {
      color: #fff;
    }
    .panel-heading {
      color: #ffffff;
      background-color: @brand-primary;
      border-color: #000000;
    }
  }
  .panel-body {
    background: lighten(@brand-primary, 50%);
  }
  .panel-collapse h4 > small {
    color: #333;
  }
}

hr {
  margin-top: 30px;
  margin-bottom: 30px;
  border-color: #C1C0C0;
}

.battle-calculator-form {
  .units {
    .unit-image {
      width: 40px;
    }
    input {
      width: 75px;
    }
    width: 100%;
  }
  fieldset {
    legend {
      border-color: #C1C0C0;
    }
    margin-bottom: 20px;
  }
  margin-bottom: 20px;
  #reset-container,
  #swap-container {
    margin-top: 10px;
  }
}

.battle-calculator-result {
  td, th {
    padding: 2px 20px 2px 0;
  }
  input {
    text-align: right;
    width: 100px;
    color: #000;
    padding: 5px;
  }
}

@media(max-width: @screen-xs-max) {
  .battle-calculator-form {
    input, button {
      width: 100%;
    }
    .units {
      display: inline-block;
      width: auto;
      label {
        display: none;
      }
      input {
        display: inline;
        width: 65px;
      }
    }
  }
}

