{% block title %}
	Victory Objectives (Cliffside Bunker House Rule)
{% endblock %}

{% block body %}
	<div class="alert-info alert">
		<ul>
			<li>Once a victory objective is achieved, a victory token will be awarded, the side with the most victory tokens at the end of the day wins the game</li>
			<li>Victory tokens are awarded immediately upon completion regardless of when, or how the objective was achieved</li>
			<li>A token can never be taken away or awarded twice for the same objective</li>
			<li>It doesn't matter which game round the game ends, however, a win or a tie can only be declared at the end of a full game round</li>
		</ul>
	</div>
	<h5>Axis Victory Tokens</h5>
	<table class="table table-bordered">
		<tr>
			<td><strong>London</strong></td>
			<td>The Axis control London</td>
		</tr>
		<tr>
			<td>
				<strong>Moscow</strong>
			</td>
			<td>The Axis control Moscow</td>
		</tr>
		<tr>
			<td>
				<strong>Calcutta</strong>
			</td>
			<td>The Axis control Calcutta</td>
		</tr>
		<tr>
			<td>
				<strong>Sydney</strong>
			</td>
			<td>The Axis control Sydney</td>
		</tr>
		<tr>
			<td>
				<strong>North Africa</strong>
			</td>
			<td>The Axis control Morocco, Algeria, Tunisia, Libya, Tobruk, Alexandria, and Egypt</td>
		</tr>
		<tr>
			<td>
				<strong>Pacific</strong>
			</td>
			<td>The Axis control 6 victory cities on the Pacific map</td>
		</tr>
		<tr>
			<td>
				<strong>Europe</strong>
			</td>
			<td>The Axis control 7 victory cities on the Europe map</td>
		</tr>
		<tr>
			<td>
				<strong>Global Economy</strong>
			</td>
			<td>All 3 Axis powers have a combined total of 136 IPCs on the income tracker</td>
		</tr>
	</table>
	<hr>
	<h5>Allied Victory Tokens</h5>
	<table class="table table-bordered">
		<tr>
			<td><strong>Berlin</strong></td>
			<td>The Allies control Berlin</td>
		</tr>
		<tr>
			<td>
				<strong>Rome</strong>
			</td>
			<td>The Allies control Rome</td>
		</tr>
		<tr>
			<td>
				<strong>Tokyo</strong>
			</td>
			<td>The Allies control Tokyo</td>
		</tr>
		<tr>
			<td>
				<strong>Africa</strong>
			</td>
			<td>There are no Axis land units on the continent of Africa</td>
		</tr>
		<tr>
			<td>
				<strong>Paris Liberation</strong>
			</td>
			<td>The Allies have liberated Paris</td>
		</tr>
		<tr>
			<td>
				<strong>Philippines Liberation</strong>
			</td>
			<td>The Allies have liberated the Philippines</td>
		</tr>
		<tr>
			<td>
				<strong>Asia</strong>
			</td>
			<td>The Allies control both Hong Kong and Shanghai</td>
		</tr>
		<tr>
			<td>
				<strong>Pacific Fleet</strong>
			</td>
			<td>There are no Japanese Capital ships on the board</td>
		</tr>
	</table>
{% endblock %}