{% extends 'AppBundle:Rules/Power:power.html.twig' %}

{% block title %}
    Dutch Territories
{% endblock %}

{% block body %}
    <ul>
        <li>
            The Dutch Territories are handles like an Allied Power who lost its capital
        </li>
        <li>
            The Dutch Territories do not gain IPCs and cannot produce units
        </li>
        <li>
            The Dutch Territories can be captured by any Power
        </li>
    </ul>
{% endblock %}