{% extends 'AppBundle:Rules/Power:power.html.twig' %}

{% block title %}
    United Kingdom
{% endblock %}

{% block body %}
    {% import 'AppBundle:Macro:button_collapse.html.twig' as buttonCollapse %}
    {{  block('startingConditions')  }}
    {{  block('nationalObjectives')  }}
    {{ buttonCollapse.create( block('title')|trim|lower|replace(' ', '-') ~ '-split-economy', 'Split Economy', block('splitEconomy') ) }}
{% endblock %}

{% block startingConditionsBody %}
    <ul>
        At war with
        <ul>
            <li>Germany</li>
            <li>Italy</li>
        </ul>
        <li>
           May declare war on Japan at the beginning of the Combat Move phase of any of its turns, resulting in a state of war between Japan and both the United Kingdom and ANZAC
        </li>
        <li>
            May not move units into or through China when not yet at war with Japan
        </li>
        <li>
            May move units into Dutch territories as a noncombat movement at any time, as long as those territories have not been captured by an Axis power
        </li>
        <li>
            May take control of Dutch territories (gaining their IPC income) by moving land units into them
        </li>
        <li>
            Considers attacks against any Dutch territories to be acts of war against it (until a Dutch territory has once been captured by an Axis power)
        </li>
        <li>Starting Income: 28 IPCs (Europe) and 17 IPCs (Pacific)</li>
    </ul>
{% endblock %}

{% block nationalObjectivesHeader %}
    National Objectives <small>"The British Empire"</small>
{% endblock %}

{% block nationalObjectivesBody %}
    {% import 'AppBundle:Macro:national_objectives.html.twig' as nationalObjectives %}
    {{ nationalObjectives.create(
        [
            {
                reward: '5 IPCs (European economy)',
                condition: 'United Kingdom Is at War in Europe and controls all of its original territories in its European economy',
                theme: '"Maintenance of the empire considered vital national objective"'
            },
            {
                reward: '5 IPCs (Pacific economy)',
                condition: 'United Kingdom Is at War with Japan and controls both Kwangtung and Malaya',
                theme: '"Maintenance of the empire considered vital national objective"'
            }
        ]
    ) }}
{% endblock %}

{% block splitEconomy %}
    <ul>
        <li>
            United Kingdom has two seperate economies: Europe and Pacific
        </li>
        <li>
            The income levels and IPC treasuries for the two economies are tracked separately
        </li>
        <li>North American territories are part of the European econmy</li>
        <li>West India is part of the Pacific econmy</li>
        <li>Research and Development can be paid by either economy, its results apply to the power as a whole</li>
        <li>Each of United Kingdom Europe and Pacific makes its own separate purchases and repairs</li>
        <li>United Kingdom mobilizes its new units purchased by each economy at industrial complexes that fall under that economy</li>
        <li>
            London is the regional capital of United Kingdoms Europe economy
        </li>
        <li>
            Calcutta is the regional capital of United Kingdoms Pacific economy
        </li>
        <li>If one of the regional capitals is captured by the Axis, it will surrender any unspent IPCs that its economy has in its treasury to the capturing power. An economy whose capital is held by the Axis can’t collect income, spend IPCs, or repair units. The free regional capital may never collect IPCs that would normally go to the captured regional capital, even if such territories are recaptured from the Ax</li>
        <li>If Berlin or Rome is captured by the United Kingdom, the IPCs go to the Europe economy’s treasury. If Tokyo is captured, the IPCs go to the Pacific economy’s treasury. This applies even if the receiving economy’s regional capital is held by the Axis.
        </li>
    </ul>
{% endblock %}