{% extends 'AppBundle::base.html.twig' %}

{% import 'AppBundle:Macro:accordion.html.twig' as panelGroup %}

{% block content %}

    <h1 class="page-header">Axis and Allies <small>Global 40</small></h1>
<div class="panel-group rule-panel">
<div class="panel panel-primary" style="background: none">
<div class="panel-body" style="background:rgba(211, 219, 215, 0.85);">
	<p class="">
It is spring 1940. Since the invasion of Poland nine months
earlier, the United Kingdom and France have been at war with
Germany. The Soviet Union and Germany have signed a secret
protocol splitting Eastern Europe between them. In November
of that year, the Soviets, using some false pretext, attacked
Finland. The Russians didn't fare well in this war. 200,000
Finns managed to hold up a Soviet army of 1,000,000 troops.
Eventually, the Finns had to sue for peace and several disputed
territories were annexed by the Soviets.
	</p>

<p class="">
The weakness and humiliating defeats suffered by the Red Army
didn't go unnoticed by the watching eyes of Nazi Germany. Before
long, these two great powers would be caught up in a life-anddeath
struggle for their very existence. Before that day, however,
the rest of Europe had to be dealt with. First, Norway and Denmark
were invaded. Then, with an objective of nothing less than the total
destruction of the British and French armies in northern France, Belgium
and Holland were quickly overrun. Outflanking the Maginot line, to the
great surprise of the Allied armies, the German army poured into the Low
Countries. The Allied Expeditionary Force soon found its back to the sea and was
forced to evacuate. During Operation Dynamo, the Allies, being forced into an ever-shrinking perimeter, made a desperate
withdrawal from Dunkirk. More than 300,000 Allied troops evacuated back to England. However, much of the BEF's
equipment had been lost or left back on the beaches of Europe.
</p>

<p class="">
During those desperate days, more than half of the French armor had been lost in Belgium. Now, with what was left and
supplemented by some remaining Allied units, France is facing not only a larger German army, but an army whose tactics
and way of conducting war are all too new and too effective. It's at this point that you take command of one or more of
the major powers and rewrite history. As an Allies player, can you stop this Axis momentum? As an Axis player, can you
defeat France and/or Britain? Can you defeat the bear in the East? How are you going to deal with the awakening giant,
the arsenal of democracy, the United States? Your task will not be easy, but world domination never is.
</p>

</div>
</div>

</div>

{% endblock %}

