{% block title %}
   Canals and Narrow Straits
{% endblock %}

{% block body %}
    <div class="alert alert-info">
        Geographical features that can help or hinder sea movement, depending upon who controls them
    </div>
    <ul>
        <li>
             Control of the land territories surrounding these features gives the controlling power and its allies the ability to travel through them while denying access to enemy powers
        </li>
        <li>Canals do not block land movement</li>
        <li>Narrow Straits cannot be crossed by land units</li>
        <li>If a canal or narrow strait is controlled by a power not on your side, but with which you are not yet at war, you must ask permission to use it, which may be denied</li>
        <li>You can’t move sea units through a canal or narrow strait that is controlled by a neutral territory or by a power with which you are at war</li>
    </ul>
    <div class="alert alert-danger">Exception: Submarines of any power may pass through the Strait of Gibraltar regardless of which power controls it</div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Canal/Narrow Strait</th>
                <th>Controlling Territories</th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td>The Panama Canal</td>
            <td>Central America</td>

        </tr>
        <tr>
            <td>The Suez Canal</td>
            <td>Egypt and Trans-Jordan</td>
        </tr>
        <tr>
            <td>The Turkish Strait</td>
            <td>Turkey</td>
        </tr>
        <tr>
            <td>
                The Strait of Gibraltar
            </td>
            <td>
                Gibraltar
            </td>
        </tr>
        <tr>
            <td>
                The Danish Strait
            </td>
            <td>
                Denmark
            </td>
        </tr>
    </tbody>
{% endblock %}

