{% block title %}
   Islands
{% endblock %}

{% block body %}
    <p>
        <ul>
            <li>
                A single territory surrounded entirely by one or more sea zones
            </li>
            <li>
                Island Groups are considered one territory
            </li>
            <li>
                You cannot split up land-based units so that they are on different islands in the same group
            </li>
        </ul>
    </p>
{% endblock %}