{% block title %}
   Sea Zones
{% endblock %}

{% block body %}
    <p>
        <ul>
            <li>
                Border color shows which power controls them at the start of the game
            </li>
            <li>Can have income value</li>
            <li>Units can move between adjacent territories</li>
            <li>Can be either
                <ul>
                    <li>friendly (no enemy surface warship in it)</li>
                    <li>hostile (enemy surface warship in it, excluding submarines and transporters)</li>
                </ul>
            </li>
        </ul>
    </p>
{% endblock %}
