{% block title %}
    Rule Books
{% endblock %}

{% block body %}
    <div class="list-group">
        <a  class="list-group-item" href="{{ asset('bundles/app/downloads/Axis-Allies-Europe-1940-Second-Edition.pdf') }}" target="_blank">
            Axis and Allies Europe 1940 2nd Edition (English)
        </a>
        <a class="list-group-item" href="{{ asset('bundles/app/downloads/Axis-Allies-Pacific-1940-Second-Edition.pdf') }}" target="_blank">
               Axis and Allies Pacific 1940 2nd Edition (English)
        </a>
        <a class="list-group-item" href="{{ asset('bundles/app/downloads/AA_Global_1940_deu.pdf') }}" target="_blank">
                Axis and Allies Global 1940 2nd Edition (German)
        </a>
    </div>
{% endblock %}


